CREATE PROCEDURE [dbo].[usp_SyncPositions]
AS
BEGIN
    SET NOCOUNT ON;
	 -- Deduplicate #PositionsTemp
    ;WITH CTE_Pos AS (
        SELECT *, 
               -- Order by Id DESC ensures rn=1 is the LAST record inserted (Highest ID)
               ROW_NUMBER() OVER (PARTITION BY PositionId ORDER BY Id DESC) AS rn
        FROM #PositionsTemp
    )
    DELETE FROM CTE_Pos WHERE rn > 1;

    -- Deduplicate #PositionPlansTemp (Composite Key: OpenPositionId + GlobarId)
    ;WITH CTE_Plans AS (
        SELECT *, 
               -- Order by Id DESC ensures rn=1 is the LAST record inserted
               ROW_NUMBER() OVER (PARTITION BY OpenPositionId, GlobarId ORDER BY Id DESC) AS rn
        FROM #PositionPlansTemp
    )
    DELETE FROM CTE_Plans WHERE rn > 1;

    -- ==========================================================================
    -- 1. SYNC PARENT: dbo.Positions
    -- ==========================================================================
    MERGE [dbo].[Position] AS Target
    USING #PositionsTemp AS Source
    ON Target.PositionId = Source.PositionId

    -- A. MATCHED: Update all fields (Except Id and PositionId), set IsActive = 1
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.SrNumber = Source.SrNumber,
            Target.Client = Source.Client,
            Target.ProjectName = Source.ProjectName,
            Target.PositionTitle = Source.PositionTitle,
            Target.Seniority = Source.Seniority,
            Target.ContractorAllowed = Source.ContractorAllowed,
            Target.WorkOffice = Source.WorkOffice,
            Target.PositionFramework = Source.PositionFramework,
            Target.ClientInterviewRequired = Source.ClientInterviewRequired,
            Target.GloberToBeAssigned = Source.GloberToBeAssigned,
            Target.Stage = Source.Stage,
            Target.StartDate = Source.StartDate,
            Target.PositionLoad = Source.PositionLoad,
            Target.Replacement = Source.Replacement,
            Target.RateAmount = Source.RateAmount,
            Target.RatePeriod = Source.RatePeriod,
            Target.Handler = Source.Handler,
            Target.AssociateHandler = Source.AssociateHandler,
            Target.PositionStudio = Source.PositionStudio,
            Target.TypeOfPosition = Source.TypeOfPosition,
            Target.EnglishRequired = Source.EnglishRequired,
            Target.HandlerTeam = Source.HandlerTeam,
            Target.AssociateHandlerTeam = Source.AssociateHandlerTeam,
            Target.BusinessUnit = Source.BusinessUnit,
            Target.Region = Source.Region,
            Target.Submitter = Source.Submitter,
            Target.SubmitDate = Source.SubmitDate,
            Target.Aging = Source.Aging,
            Target.EstimatedStaffingDate = Source.EstimatedStaffingDate,
            Target.SecondaryLocation = Source.SecondaryLocation,
            Target.AIPodRole = Source.AIPodRole,
            Target.IndustrySpecialization = Source.IndustrySpecialization,
            Target.SrPosition = Source.SrPosition,
            Target.IsActive = 1, -- Ensure record is marked active if it exists in source
            Target.LastSyncedUtc = GETUTCDATE()

    -- B. NOT MATCHED BY TARGET: Insert new record (Id is Identity, skip it)
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (
            PositionId, SrNumber, Client, ProjectName, PositionTitle, Seniority, 
            ContractorAllowed, WorkOffice, PositionFramework, ClientInterviewRequired, 
            GloberToBeAssigned, Stage, StartDate, PositionLoad, Replacement, 
            RateAmount, RatePeriod, Handler, AssociateHandler, PositionStudio, 
            TypeOfPosition, EnglishRequired, HandlerTeam, AssociateHandlerTeam, 
            BusinessUnit, Region, Submitter, SubmitDate, Aging, 
            EstimatedStaffingDate, SecondaryLocation, AIPodRole, IndustrySpecialization, 
            IsActive, LastSyncedUtc, SrPosition
        )
        VALUES (
            Source.PositionId, Source.SrNumber, Source.Client, Source.ProjectName, Source.PositionTitle, Source.Seniority, 
            Source.ContractorAllowed, Source.WorkOffice, Source.PositionFramework, Source.ClientInterviewRequired, 
            Source.GloberToBeAssigned, Source.Stage, Source.StartDate, Source.PositionLoad, Source.Replacement, 
            Source.RateAmount, Source.RatePeriod, Source.Handler, Source.AssociateHandler, Source.PositionStudio, 
            Source.TypeOfPosition, Source.EnglishRequired, Source.HandlerTeam, Source.AssociateHandlerTeam, 
            Source.BusinessUnit, Source.Region, Source.Submitter, Source.SubmitDate, Source.Aging, 
            Source.EstimatedStaffingDate, Source.SecondaryLocation, Source.AIPodRole, Source.IndustrySpecialization, 
            1, GETUTCDATE(), SrPosition
        )

    -- C. NOT MATCHED BY SOURCE: Soft Delete (Set IsActive = 0)
    WHEN NOT MATCHED BY SOURCE THEN
        UPDATE SET 
            Target.IsActive = 0,
            Target.LastSyncedUtc = GETUTCDATE();

    -- ==========================================================================
    -- 2. SYNC CHILD TABLES (Full Replace Strategy for Active Positions)
    -- ==========================================================================

    -- 2.1 PositionNotes
    -- Delete notes ONLY for positions that are currently being synced (present in #PositionsTemp)
    -- We preserve notes for inactive positions not in this batch (if any).
    DELETE FROM dbo.PositionNote 
    WHERE OpenPositionId IN (SELECT PositionId FROM #PositionsTemp);

    INSERT INTO dbo.PositionNote (OpenPositionId, Author, Comment, NoteDate)
    SELECT OpenPositionId, Author, Comment, NoteDate 
    FROM #PositionNotesTemp;

    -- 2.2 PositionPlans (MERGE Strategy: Upsert + Soft Delete)
    -- Logic: Match on OpenPositionId AND GlobarId. 
    -- If match: Update. If new: Insert. If missing in Source (but exists in Target for these Positions): Soft Delete.
    -- Note: We filter the Target to only include plans related to the Positions currently being processed to avoid deleting plans for unrelated positions.
    MERGE [dbo].[PositionPlan] AS Target
    USING #PositionPlansTemp AS Source
    ON Target.OpenPositionId = Source.OpenPositionId AND Target.GlobarId = Source.GlobarId and Target.IsActive = 1

    WHEN MATCHED THEN
        UPDATE SET
            Target.GloberName = Source.GloberName,
            Target.GloberType = Source.GloberType,
            Target.PlanType = Source.PlanType,
            Target.IsActive = 1 -- Reactivate if found

    WHEN NOT MATCHED BY TARGET THEN
        INSERT (OpenPositionId, GlobarId, GloberName, GloberType, PlanType, IsActive)
        VALUES (Source.OpenPositionId, Source.GlobarId, Source.GloberName, Source.GloberType, Source.PlanType, 1)

    -- Soft delete only for plans belonging to the positions we are currently syncing
    WHEN NOT MATCHED BY SOURCE AND Target.OpenPositionId IN (SELECT PositionId FROM #PositionsTemp) THEN
        UPDATE SET
            Target.IsActive = 0;

    -- 2.3 ORPHAN CLEANUP (The "Missing Position" scenario)
    -- If a Parent Position was Soft Deleted in Step 1 (Not in #PositionsTemp), 
    -- we must also Soft Delete its children Plans.
    UPDATE dbo.PositionPlan
    SET IsActive = 0
    WHERE OpenPositionId NOT IN (SELECT PositionId FROM #PositionsTemp)
      AND IsActive = 1;

    -- 2.4 PositionSkills
    DELETE FROM dbo.PositionSkill
    WHERE OpenPositionId IN (SELECT PositionId FROM #PositionsTemp);

    INSERT INTO dbo.PositionSkill (OpenPositionId, ExternalSkillId, SkillName, SkillValue, Importance)
    SELECT OpenPositionId, ExternalSkillId, SkillName, SkillValue, Importance
    FROM #PositionSkillsTemp;
END

