/****** Object:  StoredProcedure [dbo].[usp_SaveDefaulters]    Script Date: 3/18/2026 5:51:09 PM ******/
CREATE PROCEDURE [dbo].[usp_SaveDefaulters]
    @Defaulters dbo.udt_DefaulterType READONLY
AS
BEGIN
    INSERT INTO Defaulters (PanelId, DefaulterCount, Quarter, StartDate, EndDate, IsActive, CreatedBy, CreatedOn, UpdatedBy, UpdatedOn)
    SELECT PanelId, DefaulterCount, Quarter, StartDate, EndDate, IsActive, CreatedBy, CreatedOn, UpdatedBy, UpdatedOn
    FROM @Defaulters;

    PRINT 'Defaulter successfully saved';
END;