CREATE PROCEDURE [dbo].[usp_GetActivePositionsWithAssignment]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.PositionId
    FROM [dbo].[Position] p
    LEFT JOIN [dbo].[PositionAssignment] pa ON p.PositionId = pa.PositionId
    WHERE p.IsActive = 0
END
