/****** Object:  StoredProcedure [dbo].[usp_UpdateDefaulters]    Script Date: 3/18/2026 5:53:00 PM ******/
CREATE PROCEDURE [dbo].[usp_UpdateDefaulters]
    @Defaulters dbo.udt_DefaulterType READONLY
AS
BEGIN
    UPDATE D
    SET D.DefaulterCount = U.DefaulterCount,
        D.IsActive = U.IsActive,
        D.UpdatedOn = U.UpdatedOn
    FROM Defaulters D
    INNER JOIN @Defaulters U ON D.PanelId = U.PanelId AND D.StartDate = U.StartDate;

    PRINT 'Defaulter successfully updated';
END;