
/****** Object:  StoredProcedure [dbo].[usp_RemoveDbDuplicateSlot]    Script Date: 3/18/2026 5:46:44 PM ******/
CREATE PROCEDURE [dbo].[usp_RemoveDbDuplicateSlot]
    @PanelId INT,
    @MinDate DATETIME,
    @MaxDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    
    -- Select the existing slots from the database
    SELECT 
       *
       FROM 
        PanelSlots p
    WHERE 
        p.PanelId = @PanelId
        AND p.SlotDate >= @MinDate
        AND p.SlotDate <= @MaxDate;
END
