/****** Object:  StoredProcedure [dbo].[usp_InterviewPanelSenioritySave]    Script Date: 3/18/2026 5:43:04 PM ******/
CREATE PROCEDURE [dbo].[usp_InterviewPanelSenioritySave]
  @panelSeniority dbo.udt_PanelSeniority READONLY
AS
BEGIN
  BEGIN TRY
   
MERGE InterviewPanelDetails AS IPD
USING (
    SELECT 
        E.Id AS PrimaryPanelId,
        S.SeniorityName As SeniorityUpTo,
        P.PanelType,
        S.SeniorityId As SeniorityId,
        (SELECT Id FROM [dbo].[Community] c WHERE c.Name = (e.Community)) AS CommunityId,
        TDC,
         1 AS IsActive,
         0 AS CreatedBy,
         GETUTCDATE() AS CreatedOn,
         0 AS UpdatedBy,
         GETUTCDATE() AS UpdatedOn
    FROM Employee E
    INNER JOIN @panelSeniority P ON P.Email = E.GlobantEmailAddress
    INNER JOIN SeniorityMaster S ON S.SeniorityName = P.Seniority
) AS Source
ON IPD.PrimaryPanelId = Source.PrimaryPanelId AND IPD.Type = Source.PanelType

WHEN MATCHED THEN 
    UPDATE SET IPD.SeniorityUpTo = Source.SeniorityUpTo
    , IPD.SeniorityId = Source.SeniorityId
    , IPD.UpdatedBy = Source.UpdatedBy
    , IPD.UpdatedOn = Source.UpdatedOn

WHEN NOT MATCHED BY TARGET THEN
    INSERT (PrimaryPanelId, 
            Type, 
            SeniorityUpTo,
            CommunityId,
            SeniorityId,
            TDC,
            IsActive,
            CreatedBy,
            CreatedOn
            )
    VALUES (Source.PrimaryPanelId, Source.PanelType, Source.SeniorityUpTo,Source.CommunityId,
    Source.SeniorityId,source.TDC,1,0,source.CreatedOn);

  END TRY
  BEGIN CATCH
    -- Handle exceptions
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT @ErrorMessage = ERROR_MESSAGE(),
           @ErrorSeverity = ERROR_SEVERITY(),
           @ErrorState = ERROR_STATE();

    -- Rethrow the error for the calling application to handle
    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
END;
