/****** Object:  StoredProcedure [dbo].[usp_RemoveDefaulters]    Script Date: 3/18/2026 5:55:09 PM ******/
CREATE PROCEDURE [dbo].[usp_RemoveDefaulters]
    @DefaulterIds INT -- Assuming you pass the IDs of defaulters to remove
AS
BEGIN
    DELETE FROM Defaulters
    WHERE Id IN (SELECT Id FROM Defaulters WHERE Id = @DefaulterIds);

    PRINT 'Defaulter successfully removed';
END;