CREATE      PROCEDURE [dbo].[usp_SyncPositionAssignment]
AS
BEGIN
    SET NOCOUNT ON;
	 -- Deduplicate #PositionsTemp
    ;WITH CTE_Pos AS (
        SELECT *, 
               -- Order by Id DESC ensures rn=1 is the LAST record inserted (Highest ID)
               ROW_NUMBER() OVER (PARTITION BY PositionId ORDER BY Id DESC) AS rn
        FROM #PositionsAssignmentTemp
    )
    DELETE FROM CTE_Pos WHERE rn > 1;

  

    -- ==========================================================================
    -- 1. SYNC PARENT: dbo.[PositionAssignment]
    -- ==========================================================================
    MERGE [dbo].[PositionAssignment] AS Target
    USING #PositionsAssignmentTemp AS Source
    ON Target.PositionId = Source.PositionId

    -- A. MATCHED: Update all fields (Except Id and PositionId), set IsActive = 1
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.AssignmentId = Source.AssignmentId,
            Target.AssignmentLoad = Source.AssignmentLoad,
            Target.AssignmentStartDate = Source.AssignmentStartDate,
            Target.AssignmentStartDateInDate = Source.AssignmentStartDateInDate,
            Target.AssignmentEndDate = Source.AssignmentEndDate,
            Target.PositionRoleName = Source.PositionRoleName,
            Target.PositionSeniorityName = Source.PositionSeniorityName,
            Target.PositionSRNumber = Source.PositionSRNumber,
            Target.SrHandlerFirstName = Source.SrHandlerFirstName,
            Target.SrHandlerLastName = Source.SrHandlerLastName,
            Target.SrHandlerEmail = Source.SrHandlerEmail,
            Target.SrHandlerId = Source.SrHandlerId,
            Target.GloberId = Source.GloberId,
            Target.GloberFirstName = Source.GloberFirstName,
            Target.GloberLastName = Source.GloberLastName,
            Target.GloberName = Source.GloberName,
            Target.GloberEmail = Source.GloberEmail,
            Target.ProjectId = Source.ProjectId,
            Target.ProjectName = Source.ProjectName,
            Target.ClientId = Source.ClientId,
            Target.ClientName = Source.ClientName,
            Target.ProjectPmDetails = Source.ProjectPmDetails,
            Target.ProjectTdName = Source.ProjectTdName,
            Target.ProjectTdId = Source.ProjectTdId,
            Target.StudioId = Source.StudioId,
            Target.BusinessUnitId = Source.BusinessUnitId,
            Target.BusinessUnit = Source.BusinessUnit,
            Target.DefaultStaffingAnalyst = Source.DefaultStaffingAnalyst,
            Target.DefaultStaffingAnalystEmail = Source.DefaultStaffingAnalystEmail,
            Target.DefaultStaffingAnalystId = Source.DefaultStaffingAnalystId,
            Target.StudioPartnerDetails = Source.StudioPartnerDetails,
            Target.AssignmentType = Source.AssignmentType,
            Target.AssignmentEndReason = Source.AssignmentEndReason,
            
            Target.AssignmentStatusType = Source.AssignmentStatusType, -- Ensure record is marked active if it exists in source
            Target.Rotated = Source.Rotated,
            Target.ClientContractorAllowed = Source.ClientContractorAllowed,
            Target.ProjectContractorAllowed = Source.ProjectContractorAllowed,
            Target.GlobalId = Source.GlobalId,
             Target.LastSyncedUtc = GETUTCDATE()
    -- B. NOT MATCHED BY TARGET: Insert new record (Id is Identity, skip it)
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (
    AssignmentId,
    AssignmentLoad,
    AssignmentStartDate,
    AssignmentStartDateInDate,
    AssignmentEndDate,
    AssignmentEndDateInDate,
    PositionId,
    PositionRoleName,
    PositionSeniorityName,
    PositionSRNumber,
    SrHandlerFirstName,
    SrHandlerLastName,
    SrHandlerEmail,
    SrHandlerId,
    GloberId,
    GloberFirstName,
    GloberLastName,
    GloberName,
    GloberEmail,
    ProjectId,
    ProjectName,
    ClientId,
    ClientName,
    ProjectPmDetails,
    ProjectTdName,
    ProjectTdEmail,
    ProjectTdId,
    StudioId,
    BusinessUnitId,
    BusinessUnit,
    DefaultStaffingAnalyst,
    DefaultStaffingAnalystEmail,
    DefaultStaffingAnalystId,
    StudioPartnerDetails,
    ProjectState,
    ContractType,
    AssignmentType,
    AssignmentEndReason,
    AssignmentStatusType,
    Rotated,
    ClientContractorAllowed,
    ProjectContractorAllowed,
    GlobalId,
    LastSyncedUtc)
        VALUES (
    Source.AssignmentId,
    Source.AssignmentLoad,
    Source.AssignmentStartDate,
    Source.AssignmentStartDateInDate,
    Source.AssignmentEndDate,
    Source.AssignmentEndDateInDate,
    Source.PositionId,
    Source.PositionRoleName,
    Source.PositionSeniorityName,
    Source.PositionSRNumber,
    Source.SrHandlerFirstName,
    Source.SrHandlerLastName,
    Source.SrHandlerEmail,
    Source.SrHandlerId,
    Source.GloberId,
    Source.GloberFirstName,
    Source.GloberLastName,
    Source.GloberName,
    Source.GloberEmail,
    Source.ProjectId,
    Source.ProjectName,
    Source.ClientId,
    Source.ClientName,
    Source.ProjectPmDetails,
    Source.ProjectTdName,
    Source.ProjectTdEmail,
    Source.ProjectTdId,
    Source.StudioId,
    Source.BusinessUnitId,
    Source.BusinessUnit,
    Source.DefaultStaffingAnalyst,
    Source.DefaultStaffingAnalystEmail,
    Source.DefaultStaffingAnalystId,
    Source.StudioPartnerDetails,
    Source.ProjectState,
    Source.ContractType,
    Source.AssignmentType,
    Source.AssignmentEndReason,
    Source.AssignmentStatusType,
    Source.Rotated,
    Source.ClientContractorAllowed,
    Source.ProjectContractorAllowed,
    Source.GlobalId,GETUTCDATE()
   
        )

    -- C. NOT MATCHED BY SOURCE: Soft Delete (Set IsActive = 0)
    WHEN NOT MATCHED BY SOURCE THEN
        UPDATE SET 
         Target.LastSyncedUtc = GETUTCDATE();

END
