/****** Object:  StoredProcedure [dbo].[usp_InterviewPanelDetailsSave]    Script Date: 3/18/2026 5:23:54 PM ******/
CREATE PROCEDURE [dbo].[usp_InterviewPanelDetailsSave]
  @InterviewPanelDetails dbo.udt_InterviewPanelDetails READONLY
AS
BEGIN
  BEGIN TRY


    IF EXISTS(SELECT 1 FROM @InterviewPanelDetails WHERE PanelType = 'L1')

    BEGIN

      MERGE INTO [dbo].[InterviewPanelDetails] AS target
      USING (SELECT Id AS PrimaryPanelId,
                    NULL AS SecondaryPanelId,
                    'L1' AS [Type],
                    (   SELECT SeniorityName FROM [dbo].[SeniorityMaster] s WHERE s.SeniorityId = (e.SeniorityId + 1)) AS SeniorityUpTo,
                    (   SELECT Id FROM [dbo].[Community] c WHERE c.Name = (e.Community)) AS CommunityId,
                    SeniorityId,
                    TDC,
                    1 as IsActive,
                    0 as CreatedBy,
                    GETUTCDATE() AS CreatedOn,
                     0 AS UpdatedBy,
                    GETUTCDATE() AS UpdatedOn
                     FROM [dbo].[Employee] e WHERE GlobantEmailAddress IN (SELECT [Email] FROM @InterviewPanelDetails)
             AND id NOT IN (  select PrimaryPanelId from [dbo].[InterviewPanelDetails] where Type='L1'    )   ) AS source
         ON target.PrimaryPanelId = source.PrimaryPanelId
         AND target.Type = source.Type
      WHEN MATCHED THEN UPDATE SET target.PrimaryPanelId = source.PrimaryPanelId,
                                   target.SecondaryPanelId = source.SecondaryPanelId,
                                   target.Type = source.Type,
                                   target.SeniorityUpTo = source.SeniorityUpTo,
                                   target.CommunityId = source.CommunityId,
                                   target.SeniorityId = source.SeniorityId,
                                   target.TDC = source.TDC,
                                   target.UpdatedBy = source.UpdatedBy,
                                   target.UpdatedOn = source.UpdatedOn
      WHEN NOT MATCHED THEN INSERT (PrimaryPanelId,
                                    SecondaryPanelId,
                                    Type,
                                    SeniorityUpTo,
                                    CommunityId,
                                    SeniorityId,
                                    TDC,
                                    IsActive,
                                    CreatedBy,
                                    CreatedOn,
                                    UpdatedBy,
                                    UpdatedOn)
        VALUES (source.PrimaryPanelId, source.SecondaryPanelId, source.Type, source.SeniorityUpTo, source.CommunityId, source.SeniorityId, source.TDC, 1,0,source.CreatedOn,NULL,NULL);

    END


    IF EXISTS(SELECT 1 FROM @InterviewPanelDetails WHERE PanelType = 'GK')
    BEGIN

      MERGE INTO [dbo].[InterviewPanelDetails] AS target
      USING (SELECT Id AS PrimaryPanelId,
                    NULL AS SecondaryPanelId,
                    'GK' AS [Type],
                    (   SELECT SeniorityName FROM [dbo].[SeniorityMaster] s WHERE s.SeniorityId = (e.SeniorityId + 2)) AS SeniorityUpTo,
                    (   SELECT Id FROM [dbo].[Community] c WHERE c.Name = (e.Community)) AS CommunityId,
                    SeniorityId,
                    1 as IsActive,
                    0 as CreatedBy,
                    GETUTCDATE() AS CreatedOn,
                     0 AS UpdatedBy,
                    GETUTCDATE() AS UpdatedOn,
                    TDC FROM [dbo].[Employee] e WHERE GlobantEmailAddress IN (SELECT [Email] FROM @InterviewPanelDetails)
             AND id NOT IN ( select PrimaryPanelId from [dbo].[InterviewPanelDetails] where Type='GK' )) AS source
         ON target.PrimaryPanelId = source.PrimaryPanelId
         AND target.Type = source.Type
      WHEN MATCHED THEN UPDATE SET target.PrimaryPanelId = source.PrimaryPanelId,
                                   target.SecondaryPanelId = source.SecondaryPanelId,
                                   target.Type = source.Type,
                                   target.SeniorityUpTo = source.SeniorityUpTo,
                                   target.CommunityId = source.CommunityId,
                                   target.SeniorityId = source.SeniorityId,
                                   target.TDC = source.TDC,
                                   target.UpdatedBy = source.UpdatedBy,
                                   target.UpdatedOn = source.UpdatedOn
      WHEN NOT MATCHED THEN INSERT (PrimaryPanelId,
                                    SecondaryPanelId,
                                    Type,
                                    SeniorityUpTo,
                                    CommunityId,
                                    SeniorityId,
                                    TDC,
                                    IsActive,
                                    CreatedBy,
                                    CreatedOn,
                                    UpdatedBy,
                                    UpdatedOn)
        VALUES (source.PrimaryPanelId, source.SecondaryPanelId, source.Type, source.SeniorityUpTo, source.CommunityId, source.SeniorityId, source.TDC,1,0,source.CreatedOn,NULL,NULL);

    END

  END TRY
  BEGIN CATCH
    -- Handle exceptions
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT @ErrorMessage = ERROR_MESSAGE(),
           @ErrorSeverity = ERROR_SEVERITY(),
           @ErrorState = ERROR_STATE();

    -- Rethrow the error for the calling application to handle
    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
END;
