/****** Object:  StoredProcedure [dbo].[usp_InsertPanelSlots]    Script Date: 3/18/2026 5:48:24 PM ******/
CREATE PROCEDURE [dbo].[usp_InsertPanelSlots]
    @PanelSlots dbo.udt_PanelSlotsType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PanelSlots (PanelId, SlotDate, Recruiter, CandidateName, IsUtilized, IsActive, CreatedBy, CreatedOn, UpdatedBy, UpdatedOn)
    SELECT PanelId, SlotDate, Recruiter, CandidateName, IsUtilized, IsActive, CreatedBy, CreatedOn, UpdatedBy, UpdatedOn
    FROM @PanelSlots;
END