/****** Object:  StoredProcedure [dbo].[usp_GetDefaultersSlots]    Script Date: 3/18/2026 5:59:09 PM ******/
CREATE PROCEDURE [dbo].[usp_GetDefaultersSlots]
    @PanelId INT,
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Defaulters
    WHERE PanelId = @PanelId
      AND StartDate >= @StartDate
      AND EndDate <= @EndDate;
END