CREATE PROCEDURE [dbo].[usp_GetAllEmployees]
AS
BEGIN
  Select * from vwEmployeeDataGlow
  where Status IN ('Active','Resigned') 
 -- ORDER BY CAST(GlobalID as bigint)
 ORDER BY JoiningDate
END
