/****** Object:  StoredProcedure [dbo].[usp_InsertPanelSlotUtilization]    Script Date: 3/18/2026 5:56:06 PM ******/
CREATE PROCEDURE [dbo].[usp_InsertPanelSlotUtilization]
    @PanelSlotUtilizations dbo.udt_PanelSlotUtilizationType READONLY
AS
BEGIN
    INSERT INTO PanelSlotUtilization (PanelId, TotalSlots, SlotUnutilized, IsActive, CreatedBy, CreatedOn )
    SELECT PanelId, TotalSlots, SlotUnutilized, IsActive, CreatedBy, CreatedOn
    FROM @PanelSlotUtilizations;

    PRINT 'Panel Slot Utilization successfully saved';
END;
