/****** Object:  StoredProcedure [dbo].[usp_GetInterviewPanelList]    Script Date: 3/18/2026 5:41:09 PM ******/
CREATE PROCEDURE [dbo].[usp_GetInterviewPanelList]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ip.Id,
        ip.SecondaryPanelId,
        e.GlobantEmailAddress,
        ip.SeniorityUpTo,
        ip.CommunityId,
        ip.PrimaryPanelId,
        ip.Type,
        1 AS IsActive, -- Assuming IsActive is always true (1)
        0 AS CreatedBy, -- Assuming CreatedBy is always 0
        GETUTCDATE() AS CreatedOn -- Current UTC date and time
    FROM 
        Employee e
    JOIN 
        InterviewPanelDetails ip ON e.Id = ip.PrimaryPanelId;
END