<!-- <div class="error-container">
    <h1>Oops! Something went wrong.</h1>
    <p>The URL you entered is invalid or the interview ID does not exist.</p>
    <button mat-raised-button routerLink="/">Contact Admin</button>
  </div>
   -->

  <div class="instructions-page">
    <mat-card class="thank-you-container">
      <mat-card-header>
        <mat-card-title class="thank-you-title">Oops! Something went wrong.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="thank-you-message">
          The URL you entered is invalid or the evaluation ID does not exist.
        </p>
        <button  
        type="button"
        class="btn btn-mock-interview"  >
          Contact Admin
        </button>
      </mat-card-content>
    </mat-card>
  </div>
