<section class="section background">
  <div class="container mt-5">
    <div class="row">
      <div
        class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
      >
        <div class="loginBrand">
          <div class="login-brand">
            <img
              src="assets/img/Globant-White.png"
              alt="logo"
              width="100"
              class=""
              style="height: 60px; width: 200px"
            />
          </div>
          <h4 class="loginTitle">Welcome to Academy</h4>
          <!-- <p class="loginPara">
            </p> -->

          <div id="wrapper" style="margin-top: 40px;">
            <asl-google-signin-button></asl-google-signin-button>
            <div id="buttonDiv" style="text-align: -webkit-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
