CREATE VIEW [dbo].[vwEmployeeDataGlow]
AS

-- Define multiple CTEs to pre-filter data from various sources
WITH 
-- CTE 1: Ranks onboarding records by completeness to select the best one
RankedOnboarding AS (
    SELECT
        GlobalId,
        ContactDetails,
        PersonalEmail,
        TotalYearsOfExperience,
        SpeciallyChallenged,
        CreatedAt, -- Needed for tie-breaker
        DateOfBirth, -- Needed for completeness score
        FatherName,  -- Needed for completeness score
        Gender       -- Needed for completeness score
    FROM
        dbo.OnboardingData
),
RankedOnboardingRanked AS (
    SELECT *,
    ROW_NUMBER() OVER(
        PARTITION BY GlobalId 
        ORDER BY
            (
                CASE WHEN PersonalEmail IS NOT NULL THEN 1 ELSE 0 END +
                CASE WHEN DateOfBirth IS NOT NULL THEN 1 ELSE 0 END +
                CASE WHEN FatherName IS NOT NULL THEN 1 ELSE 0 END +
                CASE WHEN TotalYearsOfExperience IS NOT NULL THEN 1 ELSE 0 END +
                CASE WHEN ContactDetails IS NOT NULL THEN 1 ELSE 0 END +
                CASE WHEN Gender IS NOT NULL THEN 1 ELSE 0 END +
                CASE WHEN SpeciallyChallenged IS NOT NULL THEN 1 ELSE 0 END
            ) DESC,
            CreatedAt DESC
    ) AS rn
    FROM RankedOnboarding
),

-- CTE 2: Ranks Glow records to select the most recent ('last') one
RankedGlow AS (
    SELECT
        GlobantEmailId,
        Studio,
        Region,
        Portfolio,
        Client,
        Project,
		StartDate,
        ROW_NUMBER() OVER (PARTITION BY GlobantEmailId ORDER BY CAST(Load as INT) DESC) AS rn
    FROM
        dbo.Glow
		--WHERE StartDate<=GETDATE()
),

-- CTE 3: Ranks resignation records to get the one with the latest LastWorkingDay
RankedResignation AS (
    SELECT
       GlobalId,
        EmailAddress,
        LastWorkingDay,
        Retention,
        ResignationDate,
        ResignationType,
        ROW_NUMBER() OVER(PARTITION BY GlobalId ORDER BY LastWorkingDay DESC) as rn
    FROM
        dbo.Resignation
		WHERE Retention IS NULL
),

-- CTE 4: Ranks portfolio records
RankedPortfolio AS (
    SELECT 
        [Region],
        [AIStudio],
        [Account],
        [Headcount],
        [AIStudioAnchor],
        [AccountAnchor],
        [PortfolioMD],
        [PortfolioVPTech],
        [PortfolioVPDel],
        [AccVPT_TD],
        [AccVPD_DD],
        [TCBP],
        [CapacityFocals],
        [InvolvedInProposals],
        [ConnectedWithClient],
        [Is100SquareAccount],
        -- Assigns a rank to each row based on Headcount. The highest Headcount gets rank 1.
        RANK() OVER (PARTITION BY Account ORDER BY Account DESC) AS Rnk
    FROM 
        [dbo].[Portfolio]
),

-- CTE 5: NEW - Ranks APACSSF records to select the one with the highest PctAssignment
RankedAPACSSF AS (
    SELECT
        *, -- Select all columns for use in the main query
        ROW_NUMBER() OVER(
            PARTITION BY Email -- Group by employee
            ORDER BY Project,
                TRY_CAST(PctAssignment AS FLOAT) DESC -- Get the highest assignment percentage
        ) AS rn
    FROM
        dbo.APACSSF
)


--Main query required for export
SELECT DISTINCT
    ged.GlobalId                                                AS GlobalID,
    --TODO Added ged.LastName column

    ISNULL(ged.GloberFirstName, ssf.FirstName) + ' ' + ISNULL(ged.GloberLastName, ssf.LastName)   AS EmployeeName,
    ISNULL(ged.GloberFirstName, ssf.FirstName)                              AS FirstName,
    ISNULL(ged.Email,obd.PersonalEmail)                                 AS GlobantEmailIds,
    ged.EntryDate                                               AS JoiningDate,    
    CASE 
        WHEN ged.GlobalId IS NULL THEN '' 
        WHEN ged.EntryDate > GETDATE() THEN 'Yet To Join'
        --WHEN r.LastWorkingDay NOT LIKE '%9999-12-31%' AND r.Retention='Yes' THEN 'Active1'
        --WHEN r.LastWorkingDay NOT LIKE '%9999-12-31%' AND GETDATE()-1 > r.LastWorkingDay THEN 'Separated'
        --WHEN r.ResignationDate < '9999-12-31' AND CAST(GETDATE() AS DATE) > r.ResignationDate THEN 'Resigned'
        WHEN r.LastWorkingDay < '9999-12-31' AND r.Retention = 'Yes' THEN 'Active1'  
     
     -- 2. Check if they have already left (Separated)
     -- Using CAST to Date removes time interference
     WHEN r.LastWorkingDay < '9999-12-31' AND CAST(GETDATE() AS DATE) > r.LastWorkingDay THEN 'Separated'  
     
     -- 3. Check if they have resigned in the past (Resigned)
     WHEN r.ResignationDate < '9999-12-31' AND CAST(GETDATE() AS DATE) > r.ResignationDate THEN 'Resigned'
        ELSE 'Active'
    END                                                AS Status,
   
    de.StartEntity                                             AS HiringEntity,
    --TODO Replaced de.StartBaseLocation and ged.Location is not in proper format For e.g ("/"/")
    de.StartBaseLocation                                              AS HiringLocation, 
    cr.FinalDesignation                                           AS Designation,
    --TODO Replaced ssf.[JobClassificationLabel]   
    ISNULL(ged.Position, gedt.Position)                                                  AS Position,
	-- Old case -- 
    --  CASE 
		--WHEN cr.FinalCommunity ='Exusia' THEN 'NA' 
		--ELSE lkd.IndiaSeniority END                                   AS Seniority,
    --TODO which Seniority is correct?
    ISNULL(ged.Seniority, gedt.Seniority)                                                 AS Seniority,
	CASE
        WHEN CHARINDEX(',', ssf.SeniorityName) > 0 THEN
            LTRIM(SUBSTRING(ssf.SeniorityName, CHARINDEX(',', ssf.SeniorityName) + 1, LEN(ssf.SeniorityName)))
        ELSE
            NULL 
    END														AS SSFSeniority,
    lkd.SrLevel                                                AS SrLevel,
    cr.FinalCommunity                                             AS Community,
  ISNULL(ged.Studio, assf.Studio)                                                AS Studio,
    r.ResignationDate                                          AS ResignationDate,
    --TOD Replaced r.LastWorkingDay
    ISNULL(ged.LastDate, '9999-12-31')                       AS LastDate,
	-- Need to take it from SSF
    --TODO Replaced de.Gender 
    gedt.Gender                                                  AS Gender,
    --TBD Replaced ssf.PhoneNumber
    CASE WHEN ISNULL(ssf.PhoneNumber,'')='' OR  ssf.PhoneNumber='-' THEN
	    (CASE WHEN obd.ContactDetails='-' THEN '' ELSE  dbo.FormatMobileNumber(obd.ContactDetails) END)
		ELSE  dbo.FormatMobileNumber(ssf.PhoneNumber) END             AS ContactDetails,
    CASE WHEN  ISNULL(ssf.EmailAddress,'')='' OR ssf.EmailAddress='-' THEN
	   CASE WHEN obd.PersonalEmail='-' THEN '' ELSE obd.PersonalEmail END 
		ELSE  ssf.EmailAddress  END                                   AS PersonalEmail,
    --assf.AIStudio                                                   AS Region,
  CASE WHEN  gedt.ProjectNameMaxAssignment ='DOJO' Then 'Globant' 
  ELSE  ged.SourceClientBU   END                                                            AS Region,
    --assf.Portfolio                                             AS Portfolio,
   CASE WHEN  gedt.ProjectNameMaxAssignment ='DOJO' Then 'Globant' 
  ELSE  ged.SourceClientBU    END                                              AS Portfolio,
  CASE WHEN  gedt.ProjectNameMaxAssignment ='DOJO' Then 'Globant' 
  ELSE  ged.SourceClient  END                                              AS Client,
    gedt.ProjectNameMaxAssignment                                   AS Project,
   CASE WHEN ged.EmployeeType ='Full Time Glober' THEN 'FTE' 
    ELSE ged.EmployeeType END                                           AS HiringType,
    r.ResignationType                                          AS AttritionType,
    CAST(CEILING( (DATEDIFF(DAY, ged.EntryDate, GETDATE()) / 365.25) * 10 ) / 10.0 AS DECIMAL(10,1)) AS GlobantTenure,
    obd.TotalYearsOfExperience                                 AS TotalPriorExperience,
    CAST(CAST(CEILING( (DATEDIFF(DAY, ged.EntryDate, GETDATE()) / 365.25) * 10 ) / 10.0 AS DECIMAL(10,1)) + 
	CASE WHEN obd.TotalYearsOfExperience IS NULL THEN  0 ELSE obd.TotalYearsOfExperience END AS DECIMAL(10,1)) AS TotalExperience,
    de.SpecialCase                                             AS SpecialCase,
	-- EmploymentEndDate (blank for normal employment, else fixed date) column from data enrty 
    ged.LastDate                                               AS EmploymentEndDate,
    btml.MainLeaderBetterMe                                    AS CareerMentor,
    CASE 
		 WHEN r.LastWorkingDay NOT LIKE '%9999-12-31%' AND GETDATE()-1 > r.LastWorkingDay THEN ''
	     WHEN lkd.SrLevel>=105 OR assf.Studio='Staff Generic' THEN 'neha.dolare@globant.com'
		 WHEN  gedt.ProjectNameMaxAssignment='DOJO' THEN 'sakshi.shah01@globant.com'
		 ELSE pf.TCBP END                                          AS TCBP,
    lkd.IndiaCommunityLeader                                   AS IndiaCommunityLeader,
    lkd.IndiaClusterLeader                                     AS IndiaClusterPartner,
    pf.AccountAnchor                                           AS AccountAnchor,
    pf.AIStudioAnchor                                          AS PortfolioAnchor,
   ISNULL(ged.MentorEmail, btml.SecondaryLeaders)                                     AS GXLeader,
    --TBD ged.Country or de.[StartEntity]?    
    -- TODO Commented
    --CASE
    --    WHEN de.[StartEntity] IN ('IN10', 'IN20', 'IN30', 'IN40') THEN 'India'
    --    WHEN de.[StartEntity] = 'AU10' THEN 'Australia'
    --    WHEN de.[StartEntity] = 'PH10' THEN 'Philippines'
    --    WHEN de.[StartEntity] = 'VN10' THEN 'Vietnam'
    --    WHEN de.[StartEntity] = 'IN50' THEN 'India-Exusia'
    --    WHEN de.[StartEntity] = 'CN10' THEN 'China'
    --    WHEN de.[StartEntity] = 'HK10' THEN 'Hongkong'
    --    ELSE 'Other'

    --END                                                AS Country,
	-- Need to add conditon onboarding sheet
    CASE WHEN ISNULL(ssf.[DateOfBirth],'')='' THEN obd.DateOfBirth 
	     ELSE  ssf.[DateOfBirth] END AS DOB,

    ssf.LegalId                                                AS SAPID,
    lkd.IndiaStudioLeader                                      AS StudioLeader,
   --TBD ged.Location or lc.WorkingLocation?
    --ged.[Location]                                              AS WorkingLocation,
  -- TODO Commented
   CASE WHEN lc.WorkingLocation IS NOT NULL THEN lc.WorkingLocation
    ELSE 
	 CASE WHEN de.[StartEntity] = 'AU10' THEN 'Australia'
        WHEN de.[StartEntity] = 'PH10' THEN 'Philippines'
        WHEN de.[StartEntity] = 'VN10' THEN 'Vietnam'
        WHEN de.[StartEntity] = 'IN50' THEN 'India-Exusia'
        WHEN de.[StartEntity] = 'CN10' THEN 'China'
        WHEN de.[StartEntity] = 'HK10' THEN 'Hongkong'
		ELSE 'Other' END 
	END															AS WorkingLocation,
    CAST(CASE 
            WHEN obd.SpeciallyChallenged = 'Yes' THEN 1 
            WHEN ISNULL(obd.SpeciallyChallenged, '') = '' THEN NULL
            ELSE 0 
           END AS BIT)                                         AS SpeciallyChallenged,
    ssf.[AuxLegalEntityPicklistLabel]                            AS SSfEntity,
    CASE 
        WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%IN/Hyderabad/PSW%' THEN 'Hyderabad'
        WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE 'IN/Pdeune/Hinjewadi' THEN 'Hinjewadi' 
        WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%IN/Pune/CyberCityMGR%' THEN 'Magarapatta'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%IN/Bangalore/ITPL%' THEN 'Bangalore'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%IN/Indore/BSI%' THEN 'Indore'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] IN ('IN/Ahmedabad/Sankalp' ,'IN/Ahmedabad/HW') THEN 'Ahmedabad'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%AU/%' THEN 'Australia'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%VN/%' THEN 'Vietnam'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%HK/%' THEN 'Hong Kong'
		WHEN ssf.[PersonnelAdministrationPicklistLabel] LIKE '%PH/%' THEN 'Philippines'
        ELSE ssf.[PersonnelAdministrationPicklistLabel] 
    END                                                AS SSFLocation,
    --TODO Add BenchStartDate column in ged
    --Added column and Replace g.StartDate
    ged.Country                                                AS Country,
	ged.BenchStartDate AS TPDate,
    CASE WHEN  gedt.ProjectNameMaxAssignment ='DOJO' Then 'Y' 
    ELSE 'N'   END                                                            AS [InTP],
    ged.ageing AS Ageing,
    ged.TdcName                                               AS TdcName
    
FROM
GlowEmployeeData ged
LEFT JOIN GlowEmployeeDetails gedt ON ged.GloberId = gedt.GloberId
LEFT JOIN  DataEntry de ON ged.Email = de.Email
LEFT JOIN
    SSF ssf ON ged.Email = ssf.GlobantEmailAddress AND ssf.EmployeeSubgroupPicklistLabel='Employee'
LEFT JOIN
    -- MODIFIED JOIN: Now joins to the de-duplicated APACSSF data (CTE 5)
    RankedAPACSSF assf ON ged.Email = assf.Email AND assf.rn = 1
LEFT JOIN
    LocationChange lc ON ged.Email = lc.EmailAddress
LEFT JOIN 
    -- MODIFIED JOIN: Now joins to the de-duplicated Resignation data (CTE 3)
    RankedResignation r ON ged.GlobalId = r.GlobalId AND r.rn = 1 --Need to discuss with kiran
--LEFT JOIN 
--    LookupData lkd ON ssf.PositionCode = lkd.PositionCode 
--LEFT JOIN 
 --   RankedGlow g ON ged.Email = g.GlobantEmailId AND g.rn = 1
LEFT JOIN 
    BetterMeLeader btml ON ged.Email = btml.Email
LEFT JOIN 
    RankedPortfolio pf ON assf.Client = pf.Account and pf.Rnk=1
LEFT JOIN 
   -- Replaced de.GlobalId
  RankedOnboardingRanked obd ON ged.GlobalId = obd.GlobalId AND obd.rn = 1
LEFT JOIN 
-- Replaced de.GlobalId
	[CareerReport] cr on ged.GlobalId =cr.GlobalId
LEFT JOIN 
    LookupData lkd ON cr.FinalCommunity = lkd.Community AND cr.DefaultSrLevel=lkd.SrLevel 
    AND cr.Seniority=lkd.IndiaSeniority and  ged.Position=lkd.Position--Need to discuss with kiran
WHERE 
    --TODO Replaced de.EmployeeName
    ged.EmployeeType = 'Full Time Glober' and (ged.LastDate IS NULL OR ged.LastDate > GetDate()) and
	ged.GivenName NOT LIKE '%Cancel Hire%' -- AND( de.SAPId IS NOT NULL or de.SAPId!='#N/A');
GO
