CREATE VIEW [dbo].[vwPositionDetails] AS
WITH PositionNotes_CTE AS (
    -- Aggregates notes with the format: 'Author - Date(dd-MM-yyyy) - Comment'
    SELECT
        pn.OpenPositionId,
        STRING_AGG(CONCAT(
            pn.Author,
            ' - ', 
            FORMAT(pn.NoteDate, 'dd-MM-yyyy'),
            ' - ', 
            REPLACE(REPLACE(pn.Comment, CHAR(13), ' '), CHAR(10), ' ') -- Clean up newlines in comment
        ), CHAR(13) + CHAR(10)) WITHIN GROUP (ORDER BY pn.NoteDate) AS AllNotes
    FROM
        dbo.PositionNote pn
    GROUP BY
        pn.OpenPositionId
),
PositionPlans_CTE AS (
    -- Aggregates plans with the format: 'GloberName - GloberType - PlanType'
    SELECT
        pp.OpenPositionId,
        STRING_AGG(CONCAT(
            pp.GloberName,
            ' - ', 
            pp.GloberType,
            ' - ', 
            pp.PlanType
        ), CHAR(13) + CHAR(10)) WITHIN GROUP (ORDER BY pp.Id) AS AllPlans
    FROM
        dbo.PositionPlan pp
    GROUP BY
        pp.OpenPositionId
),
PositionSkills_CTE AS (
    -- Aggregates skills with the format: 'Name Value(in integer)★ - Importance'
    SELECT
        ps.OpenPositionId,
        STRING_AGG(CONCAT(
            ps.SkillName,
            ' ', 
            CAST(ps.SkillValue AS INT), -- Convert decimal to integer
            N'★ - ', 
            ps.Importance
        ), CHAR(13) + CHAR(10)) WITHIN GROUP (ORDER BY ps.Importance, ps.SkillName) AS AllSkills
    FROM
        dbo.PositionSkill ps
    GROUP BY
        ps.OpenPositionId
)
SELECT
    p.PositionId,
    p.SrNumber,
    p.Client,
    p.ProjectName,
    p.PositionTitle,
    p.srPosition,
    p.Seniority,
    
    -- 1. ContractorAllowed: 'Yes' or 'No'
    CASE WHEN p.ContractorAllowed = 1 THEN 'Yes' ELSE 'No' END AS ContractorAllowed,
    
    p.WorkOffice,
    p.PositionFramework,
    p.Stage,
    
    -- 5. StartDate: 'dd-MM-yyyy'
    FORMAT(p.StartDate, 'dd-MM-yyyy') AS StartDate,
    
    p.Handler,
    p.AssociateHandler,
    p.BusinessUnit,
    p.Region,
    p.Submitter,
    
    -- 9. SubmitDate: 'dd-MM-yyyy'
    FORMAT(p.SubmitDate, 'dd-MM-yyyy') AS SubmitDate,
    
    -- 3. ClientInterviewRequired: 'Yes' or 'No'
    CASE WHEN p.ClientInterviewRequired = 1 THEN 'Yes' ELSE 'No' END AS ClientInterviewRequired,
    
    p.GloberToBeAssigned,
    
    -- 6. PositionLoad: 'PositionLoad %' (Cast to INT to remove decimals like 100.00)
    CONCAT(CAST(p.PositionLoad AS INT), ' %') AS PositionLoad,
    
    -- 7. Replacement: 'Yes' or 'No'
    CASE WHEN p.Replacement = 1 THEN 'Yes' ELSE 'No' END AS Replacement,
    
    p.RateAmount,
    p.RatePeriod,
    p.PositionStudio,
    p.Aging,
    
    -- 10. EstimatedStaffingDate: 'N/A' if null, else 'dd-MM-yyyy'
    ISNULL(FORMAT(p.EstimatedStaffingDate, 'dd-MM-yyyy'), 'N/A') AS EstimatedStaffingDate,
    
    p.SecondaryLocation,
    p.AIPodRole,
    p.TypeOfPosition,
    p.HandlerTeam,
    p.AssociateHandlerTeam,
    p.IndustrySpecialization,
    
    -- 8. EnglishRequired: 'Yes' or 'No'
    CASE WHEN p.EnglishRequired = 1 THEN 'Yes' ELSE 'No' END AS EnglishRequired,
    
    -- Aggregated Child Table Columns
    ISNULL(pn.AllNotes, '') AS PositionNotes_Summary,
    ISNULL(pp.AllPlans, '') AS PositionPlans_Summary,
    ISNULL(ps.AllSkills, '') AS PositionSkills_Summary

FROM
    dbo.Position p
LEFT JOIN
    PositionNotes_CTE pn ON p.PositionId = pn.OpenPositionId
LEFT JOIN
    PositionPlans_CTE pp ON p.PositionId = pp.OpenPositionId
LEFT JOIN
    PositionSkills_CTE ps ON p.PositionId = ps.OpenPositionId
WHERE
	p.IsActive = 1
	
GO
