@import url("../../../shared/styles/training-reports.css");

.title {
  margin-top: 77px;
}

.btnStyle {
  font-weight: 800 !important;
  font-size: 15px !important;
}

.cust-lbl-field-error {
  color: #ba1a1a !important;
  display: block !important;
  font-size: 0.75rem !important;
  text-align: left;
}

.report-button{
  border-radius: 5px;
}

.page-inner-report{
  padding-right: 10px;
}