CREATE FUNCTION [dbo].[FormatMobileNumber](
    -- Increased size to handle longer strings
    @phone_number_in VARCHAR(50) 
)
-- Increased return size as well
RETURNS VARCHAR(50)
AS
BEGIN
    -- Increased variable sizes
    DECLARE @cleaned_number VARCHAR(50);
    DECLARE @formatted_number VARCHAR(50);

    SET @cleaned_number = @phone_number_in;

    -- Remove all characters that are NOT a digit (0-9) or a forward slash (/).
    WHILE PATINDEX('%[^0-9/]%', @cleaned_number) > 0
    BEGIN
        SET @cleaned_number = STUFF(@cleaned_number, PATINDEX('%[^0-9/]%', @cleaned_number), 1, '');
    END;

    -- If the number starts with 91, remove the '91' prefix.
    IF LEFT(@cleaned_number, 2) = '91'
    BEGIN
        SET @cleaned_number = SUBSTRING(@cleaned_number, 3, LEN(@cleaned_number));
    END;

    SET @formatted_number = @cleaned_number;
    RETURN @formatted_number;
END;
GO
