
<div class="container">   
  <div class="page-inner">
    <h3 class="fw-bold mb-3 title">Full Table View</h3>
    <div class="table-scroll-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th *ngFor="let col of this.columns">{{ col }}</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of this.tableData">
                <td *ngFor="let col of this.columns">
                {{ row[col] }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
