CREATE TABLE [dbo].[APACSSF]
(
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT (NEWID()),
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[GlobalId] NVARCHAR(255) NULL,
	[Email] NVARCHAR(255) NULL,
	[Names] NVARCHAR(255) NULL,
	[Region] NVARCHAR(255) NULL,
	[TDC] NVARCHAR(255) NULL,
	[Country] NVARCHAR(255) NULL,
	[SocietyName] NVARCHAR(255) NULL,
	[Site] NVARCHAR(255) NULL,
	[City] NVARCHAR(255) NULL,
	[BirthDate] DATE NULL,
	[Age] INT NULL,
	[Gender] NVARCHAR(100) NULL,
	[CountryOfBirth] NVARCHAR(255) NULL,
	[Nationality] NVARCHAR(255) NULL,
	[StartDate] DATE NULL,
	[ContractType] NVARCHAR(255) NULL,
	[EmployeeGroup] NVARCHAR(255) NULL,
	[TenureGroup] NVARCHAR(255) NULL,
	[Studio] NVARCHAR(255) NULL,
	[PositionCode] NVARCHAR(100) NULL,
	[PositionName] NVARCHAR(255) NULL,
	[Function] NVARCHAR(255) NULL,
	[Seniority] NVARCHAR(255) NULL,
	[JobLevel] NVARCHAR(100) NULL,
	[Manager] NVARCHAR(255) NULL,
	[IsAcquired] NVARCHAR(50) NULL,
	[AcquiredCompany] NVARCHAR(255) NULL,
	[Area] NVARCHAR(255) NULL,
	[Subarea] NVARCHAR(255) NULL,
	[Client] NVARCHAR(255) NULL,
	[AIStudio] NVARCHAR(255) NULL,
	[Portfolio] NVARCHAR(255) NULL,
	[Project] NVARCHAR(255) NULL,
	[ProjectAcqCompany] NVARCHAR(255) NULL,
	[PctAssignment] NVARCHAR(50) NULL,
	[BillableStaff] NVARCHAR(50) NULL,
	[BilledDojoStaff] NVARCHAR(50) NULL, 
    CONSTRAINT [PK_APACSSF] PRIMARY KEY ([Id])
)