CREATE TABLE [dbo].[BetterMeLeader](
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[Email] NVARCHAR(255) NULL,
	[MainLeaderBetterMe] NVARCHAR(255) NULL,
	[SecondaryLeaders] NVARCHAR(MAX) NULL, 
    CONSTRAINT [PK_BetterMeLeader] PRIMARY KEY ([Id])
)