CREATE TABLE [dbo].[CareerReport](
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[GlobalId] NVARCHAR(255) NULL,
	[EmployeeName] NVARCHAR(255) NULL,
	[PositionChangeDate] DATE NULL,
	[Position] NVARCHAR(255) NULL,
	[Seniority] NVARCHAR(255) NULL,
	[DefaultSrLevel] NVARCHAR(100) NULL,
	[FinalDesignation] NVARCHAR(255) NULL,
	[FinalStudio] NVARCHAR(255) NULL,
	[FinalCommunity] NVARCHAR(255) NULL,
	[Remarks] NVARCHAR(MAX) NULL, 
    CONSTRAINT [PK_CareerReport] PRIMARY KEY ([Id])
)