CREATE TABLE [dbo].[CountryLocation]
(
	[Id] INT IDENTITY(1,1) NOT NULL,
	[Country] NVARCHAR(100) NOT NULL,
	[Location] NVARCHAR(255) NOT NULL,
	[LocationId] NVARCHAR(100) NOT NULL,
	[IncludeInImport] BIT NOT NULL, 
    CONSTRAINT [PK_CountryLocation] PRIMARY KEY ([Id]),
)
