CREATE TABLE [dbo].[DataEntry]
(
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[SAPId] NVARCHAR(50) NULL,
	[GlobalId] NVARCHAR(50) NULL,
	[BackendGlobalId] NVARCHAR(50) NULL,
	[Email] NVARCHAR(255) NULL,
	[EmployeeName] NVARCHAR(255) NULL,
	[FirstName] NVARCHAR(100) NULL,
	[Gender] NVARCHAR(20) NULL,
	[StartDate] DATE NULL,
	[StartEntity] NVARCHAR(100) NULL,
	[StartBaseLocation] NVARCHAR(100) NULL,
	[HiringType] NVARCHAR(50) NULL,
	[IncomingCountryName] NVARCHAR(100) NULL,
	[StartPosition] NVARCHAR(100) NULL,
	[StartSeniority] NVARCHAR(100) NULL,
	[StartDesignation] NVARCHAR(100) NULL,
	[SpecialCase] NVARCHAR(100) NULL,
	[PfCheck] NVARCHAR(10) NULL,
	[CreatedAt] DATETIME NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME NULL,
	[EmploymentEndDate] DATETIME NULL, 
    CONSTRAINT [PK_DataEntry] PRIMARY KEY ([Id])
)