CREATE TABLE [dbo].[Glow]
(
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[GlobantEmailId] NVARCHAR(255) NULL,
	[Position] NVARCHAR(255) NULL,
	[Srty] NVARCHAR(100) NULL,
	[Studio] NVARCHAR(255) NULL,
	[Portfolio] NVARCHAR(255) NULL,
	[Region] NVARCHAR(255) NULL,
	[Client] NVARCHAR(255) NULL,
	[Project] NVARCHAR(255) NULL,
	[Load] NVARCHAR(50) NULL,
	[StartDate] DATE NULL,
	[EndDate] DATE NULL,
	[Aging] NVARCHAR(100) NULL, 
    CONSTRAINT [PK_Glow] PRIMARY KEY ([Id])
)
