CREATE TABLE [dbo].[GlowEmployeeData](
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[GloberId] NVARCHAR(100) NOT NULL,
	[GlobalId] NVARCHAR(100) NULL,
	[GivenName] NVARCHAR(255) NULL,
	[GloberFirstName] NVARCHAR(255) NULL,
	[Email] NVARCHAR(255) NULL,
	[EntryDate] DATE NULL,
	[Location] NVARCHAR(255) NULL,
	[Studio] NVARCHAR(255) NULL,
	[SourceClient] NVARCHAR(255) NULL,
	[BenchStartDate] DATE NULL,
	[TdcName] NVARCHAR(255) NULL,
	[Country] NVARCHAR(100) NULL,
	[LeaderEmail] NVARCHAR(255) NULL,
	[MentorEmail] NVARCHAR(255) NULL,
	[LastDate] DATE NULL,
	[PhoneNumber] NVARCHAR(50) NULL,
	[EmployeeType] NVARCHAR(100) NULL,
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[LocationId] NVARCHAR(255) NULL,
	[GloberLastName] NVARCHAR(255) NULL,
	[IsActive] BIT NULL DEFAULT 0,
	[Ageing] INT NULL,
	[Position] NVARCHAR(255) NULL,
	[Seniority] NVARCHAR(255) NULL,
	[AcquiredCompany] NVARCHAR(255) NULL,
	[SourceClientBU] NVARCHAR(255) NULL,
	CONSTRAINT [PK_GlowEmployeeData] PRIMARY KEY CLUSTERED ([Id]),
	CONSTRAINT [UQ_GlowEmployeeData_GloberId] UNIQUE NONCLUSTERED ([GloberId] ASC)
)