CREATE TABLE [dbo].[GlowEmployeeDetails]
(
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[GloberId] NVARCHAR(100) NOT NULL,
	[Gender] NVARCHAR(50) NULL,
	[ProjectNameMaxAssignment] NVARCHAR(255) NULL,
	[Position] NVARCHAR(255) NULL,
	[Seniority] NVARCHAR(100) NULL,
	[YearsOnGlobant] DECIMAL(5, 2) NULL,
	[Birthday] DATE NULL,
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL, 
    CONSTRAINT [PK_GlowEmployeeDetails] PRIMARY KEY ([Id]),
	CONSTRAINT [UQ_GlowEmployeeDetails_GloberId] UNIQUE NONCLUSTERED ([GloberId] ASC)
)