CREATE TABLE [dbo].[GoogleSheetConfiguration]
(
	[Id] INT IDENTITY(1,1) NOT NULL,
	[Name] NVARCHAR(255) NOT NULL,
	[SheetId] NVARCHAR(100) NOT NULL,
	[RefType] NVARCHAR(50) NOT NULL,
	[Range] NVARCHAR(100) NOT NULL,
	[EmailSendFreq] INT NULL,
	[SheetName] NVARCHAR(255) NULL,
	[PointOfContact] NVARCHAR(1000) NULL,
	[IsActive] BIT NULL, 
    CONSTRAINT [PK_GoogleSheetConfiguration] PRIMARY KEY ([Id])
)
