CREATE TABLE [dbo].[LocationChange]
(
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[EmailAddress] NVARCHAR(255) NULL,
	[RequestedLocation] NVARCHAR(255) NULL,
	[HiringLocation] NVARCHAR(100) NULL,
	[WorkingLocation] NVARCHAR(255) NULL
)
