CREATE TABLE [dbo].[LookupData](
	[Id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
	[CreatedAt] DATETIME2(7) NOT NULL DEFAULT GETUTCDATE(),
	[UpdatedAt] DATETIME2(7) NULL,
	[PositionCode] [nvarchar](100) NULL,
	[Position] [nvarchar](255) NULL,
	[IndiaSeniority] [nvarchar](255) NULL,
	[GlobantSeniority] [nvarchar](255) NULL,
	[Designation] [nvarchar](255) NULL,
	[SrLevel] [nvarchar](100) NULL,
	[Community] [nvarchar](255) NULL,
	[Studio] [nvarchar](255) NULL,
	[IndiaCommunityLeader] [nvarchar](255) NULL,
	[IndiaStudioLeader] [nvarchar](255) NULL,
	[IndiaClusterLeader] [nvarchar](255) NULL, 
    CONSTRAINT [PK_LookupData] PRIMARY KEY ([Id])
)
