CREATE TABLE [dbo].[OnboardingData](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[GlobalId] [nvarchar](255) NULL,
	[PersonalEmail] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[FatherName] [nvarchar](255) NULL,
	[TotalYearsOfExperience] [decimal](4, 2) NULL,
	[ContactDetails] [nvarchar](max) NULL,
	[Gender] [nvarchar](50) NULL,
	[SpeciallyChallenged] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OnboardingData] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[OnboardingData] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
