CREATE TABLE [dbo].[Portfolio](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Region] [nvarchar](255) NULL,
	[AIStudio] [nvarchar](255) NULL,
	[Account] [nvarchar](255) NULL,
	[Headcount] [int] NULL,
	[AIStudioAnchor] [nvarchar](255) NULL,
	[AccountAnchor] [nvarchar](255) NULL,
	[PortfolioMD] [nvarchar](255) NULL,
	[PortfolioVPTech] [nvarchar](255) NULL,
	[PortfolioVPDel] [nvarchar](255) NULL,
	[AccVPT_TD] [nvarchar](255) NULL,
	[AccVPD_DD] [nvarchar](255) NULL,
	[TCBP] [nvarchar](255) NULL,
	[CapacityFocals] [nvarchar](max) NULL,
	[InvolvedInProposals] [nvarchar](50) NULL,
	[ConnectedWithClient] [nvarchar](50) NULL,
	[Is100SquareAccount] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Portfolio] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Portfolio] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
