CREATE TABLE [dbo].[PositionAssignment](
	[Id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[AssignmentId] [bigint] NOT NULL,
	[AssignmentLoad] [int] NULL,
	[AssignmentStartDate] [date] NULL,
	[AssignmentStartDateInDate] [bigint] NULL,
	[AssignmentEndDate] [date] NULL,
	[AssignmentEndDateInDate] [bigint] NULL,
	[PositionId] [bigint] NULL,
	[PositionRoleName] [nvarchar](100) NULL,
	[PositionSeniorityName] [nvarchar](100) NULL,
	[PositionSRNumber] [int] NULL,
	[SrHandlerFirstName] [nvarchar](100) NULL,
	[SrHandlerLastName] [nvarchar](100) NULL,
	[SrHandlerEmail] [nvarchar](255) NULL,
	[SrHandlerId] [bigint] NULL,
	[GloberId] [bigint] NULL,
	[GloberFirstName] [nvarchar](100) NULL,
	[GloberLastName] [nvarchar](100) NULL,
	[GloberName] [nvarchar](200) NULL,
	[GloberEmail] [nvarchar](255) NULL,
	[ProjectId] [bigint] NULL,
	[ProjectName] [nvarchar](200) NULL,
	[ClientId] [bigint] NULL,
	[ClientName] [nvarchar](200) NULL,
	[ProjectPmDetails] [nvarchar](max) NULL,
	[ProjectTdName] [nvarchar](100) NULL,
	[ProjectTdEmail] [nvarchar](255) NULL,
	[ProjectTdId] [bigint] NULL,
	[StudioId] [bigint] NULL,
	[BusinessUnitId] [bigint] NULL,
	[BusinessUnit] [nvarchar](100) NULL,
	[DefaultStaffingAnalyst] [nvarchar](100) NULL,
	[DefaultStaffingAnalystEmail] [nvarchar](255) NULL,
	[DefaultStaffingAnalystId] [bigint] NULL,
	[StudioPartnerDetails] [nvarchar](max) NULL,
	[ProjectState] [nvarchar](50) NULL,
	[ContractType] [nvarchar](20) NULL,
	[AssignmentType] [nvarchar](50) NULL,
	[AssignmentEndReason] [nvarchar](255) NULL,
	[AssignmentStatusType] [nvarchar](50) NULL,
	[Rotated] [bit] NULL,
	[ClientContractorAllowed] [bit] NULL,
	[ProjectContractorAllowed] [bit] NULL,
	[GlobalId] [nvarchar](50) NULL,
	[LastSyncedUtc] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
