CREATE TABLE [dbo].[Resignation](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[ResignationDate] [date] NULL,
	[LastWorkingDay] [date] NULL,
	[ResignationType] [nvarchar](255) NULL,
	[Retention] [nvarchar](100) NULL,
	[GlobalId] [nvarchar](255) NULL,
	[EmployeeId] [nvarchar](255) NULL,
	[EmployeeName] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[Position] [nvarchar](255) NULL,
	[Seniority] [nvarchar](255) NULL,
	[Community] [nvarchar](255) NULL,
	[Entity] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Resignation] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Resignation] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
