
CREATE TABLE [dbo].[SSF](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[AcquiredCompanyPicklistLabel] [nvarchar](255) NULL,
	[AreaTypeBusinessUnitCode] [nvarchar](255) NULL,
	[AuxLegalEntityPicklistLabel] [nvarchar](255) NULL,
	[ExperienceLeaderFirstName] [nvarchar](255) NULL,
	[ExperienceLeaderLastName] [nvarchar](255) NULL,
	[JobClassificationLabel] [nvarchar](255) NULL,
	[OrganizationalUnitLabel] [nvarchar](255) NULL,
	[PersonnelSubareaPicklistLabel] [nvarchar](255) NULL,
	[SeniorityName] [nvarchar](255) NULL,
	[SiteName] [nvarchar](255) NULL,
	[AcquiredCompanyExternalCode] [nvarchar](255) NULL,
	[ApproverPicklistLabel] [nvarchar](255) NULL,
	[EmployeeGroupPicklistLabel] [nvarchar](255) NULL,
	[EmployeeRelocatedPicklistLabel] [nvarchar](255) NULL,
	[EmployeeStatusPicklistLabel] [nvarchar](255) NULL,
	[EmployeeSubgroupPicklistLabel] [nvarchar](255) NULL,
	[PositionCode] [nvarchar](255) NULL,
	[PositionExternalNameLabel] [nvarchar](255) NULL,
	[DoYouHaveADisabilityPicklistLabel] [nvarchar](255) NULL,
	[DisabilityTypePicklistLabel] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[LegalGender] [nvarchar](50) NULL,
	[NationalityInd] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[LegalId] [nvarchar](255) NULL,
	[HireUserSfsfDate] [date] NULL,
	[NetActualDate] [date] NULL,
	[OriginalStartDate] [date] NULL,
	[TerminationDate] [date] NULL,
	[PersonId] [nvarchar](255) NULL,
	[PositionGradeExternalCode] [nvarchar](255) NULL,
	[PositionJobLevelExternalCode] [nvarchar](255) NULL,
	[PersonnelAdministrationPicklistLabel] [nvarchar](255) NULL,
	[AttritionPicklistLabel] [nvarchar](255) NULL,
	[GlobantEmailAddress] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSF] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SSF] ADD  CONSTRAINT [DF__SSF__CreatedAt__5070F446]  DEFAULT (getdate()) FOR [CreatedAt]
GO
