CREATE TABLE [dbo].[SSFRegion](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LkEmployeeWorkEmail] [nvarchar](255) NULL,
	[LkEmployeeEmployeeDesc] [nvarchar](255) NULL,
	[LkRegionsRegionDesc] [nvarchar](255) NULL,
	[FtCapacityPeopleRegionRegionDesc] [nvarchar](255) NULL,
	[LkEmployeeRegion] [nvarchar](255) NULL,
	[LkEmployeeSocietyName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSFRegion] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SSFRegion] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
